@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import "~bootstrap/scss/functions";
@import 'bootstrap/dist/css/bootstrap.min.css';

@import "variable";

@import "~bootstrap/scss/bootstrap";

@import "bootstrap/scss/functions";

// @import "variables";
@import "bootstrap/scss/variables";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";

@import "bootstrap/scss/utilities/api";

@import "bootstrap/scss/transitions";
@import "~bootstrap/scss/accordion";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/dropdown";

* {
  outline: none !important;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}


.bgAuthLogin {
  background-image: url("../images/banner_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 
  object-fit: cover;
  border-radius: 0px;
  width: 100%;
  opacity: 1;
  object-position: center 100%;
  overflow-y: hidden;
}

.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.menu-title{
  color: white;
}


//sidebar

// .sidebar {
//   /* Your sidebar styles */
// }

// 
// .nav-menu {
//   width: 250px; /* Adjust width as needed */
//   height: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: #333; /* Sidebar background color */
//   overflow-y: auto; /* Enable scrolling if needed */
// }

// .nav-menu-items {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// .menu-title {
//   display: flex;
//   align-items: center;
//   padding: 15px 20px;
//   color: #fff; /* Menu item text color */
//   text-decoration: none;
// }

// .menu-title:hover {
//   background-color: #555; /* Background color on hover */
// }

// .submenu {
//   background-color: #444; /* Submenu background color */
//   padding-left: 0;
// }

// .submenu li {
//   padding-left: 40px; /* Indent submenu items */
// }

// .submenu li a {
//   color: #fff; /* Submenu item text color */
//   text-decoration: none;
//   display: block;
//   padding: 10px 20px;
// }

// .submenu li a:hover {
//   background-color: #666; /* Background color on hover */
// }